body {
    background: url("../images/login_bg.jpg") no-repeat scroll center top #393939;
    color: #393939;
    font-family: Arial;
    font-size: 0;
    line-height: 0;
}


#setup_box {
    background: url("../images/loginbox_bg.png") no-repeat scroll 0 0 transparent;
    padding-top: 60px;
    width: 508px;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#setup-inner {
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 310px;
}
table {
    border-collapse: collapse;
}
#setup-inner tr {
    padding: 3px;
}
#setup-inner th {
    padding: 0 0 6px;
    text-align: left;
    width: 95px;
}


#setup-inner td {
    padding: 0 0 6px;
}

.setup-inp {
    background: url("../images/inp_login.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 16px;
    height: 28px;
    padding: 6px 6px 0 10px;
    width: 204px;
}
.submit-setup{
    background: url("../images/submit_login.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
}



#setup_box_login
{
	background: url("../images/loginbox1_bg.png") no-repeat scroll 0 0 transparent;
    padding-top: 60px;
    width: 508px;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#warning
{
	color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 310px;
	padding: 0 0 6px;

}

a:link 
{
    color: #161616;
	bottom: -40px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    position: relative;
    right: -150px;
}

#header{
 
	 
	position: relative; 
	margin: auto; 
	width: 508px; 
	top: 70px;
	padding-left:47px;
	

}
#h_name{
	font-size: 35px;
	color: #FFF;
	font-family:Georgia, 'Times New Roman', Times, serif; 
	font-weight:bold;
}
#message{
	
	position: relative;
	top: 30px;
	left: -12px;
	width: 92%;
	background: #FBD3B1;
	color: #C00;
	font-family: Tahoma;
	font-weight: bold;
	border-radius: 5px;
	font-size: small;
}
