html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	border: none;
}
iframe{
	margin: 0px;
	padding: 0px;
	height: 100%;
	border: none;
}



#top_container {
    background: url("../images/top_bg.jpg") repeat-x scroll center top transparent;
    border-bottom: 1px solid #7E7E7E;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    padding-left: 70px;
    padding-top: 46px;
}


#menu_tabs_container {
    background: url("../images/repeat.jpg") repeat-x scroll center top #3D3D3D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    font-family: Tahoma;
}

div#tabs_left {
    float: left;
    height:38px;
    margin-left: 70px;
}
div#tabs_right {
    float: right;
    height:38px;
    margin-right: 70px;
}
span.tab{
	position:relative;
	top:-12px;
	cursor: pointer;
	padding: 3px 10px;
	border-radius: 5px;

}
span.tab_logout
{
	position:relative;
	top:-12px;
	cursor: pointer;
}
span.tab:hover{
	background:#3B3B3B;
}

.active_tab{
	background:#3B3B3B;
}

#logout_img{
	margin-right: 8px;
    position: relative;
    top: 5px;
    border:0;
}

.tab_logout > a:link 
{
COLOR: #FFFFFF;
text-decoration:none;
padding-right: 60px;
}
.tab_logout > a:visited 
{
COLOR: #FFFFFF;
text-decoration:none;
}

#admin_iframe
{
	border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 130px;
    width: 100%;
}
